body {
	overflow-y: scroll;
	overflow-x: hidden;
}
#clouds{
	position:absolute;
	height:0px;
}
.cloud {
	width: 479px; height: 256px;
	background: url(../images/clouds.png);
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	position: relative; 
}
.cloud:before, .cloud:after {
	content: '';
	position: absolute;
	width: 479px; height: 256px;
	position: absolute; top: -15px; left: 10px;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}
.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}
.x1 {
-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
	-webkit-animation: moveclouds 55s linear infinite;
	-moz-animation: moveclouds 55s linear infinite;
	-o-animation: moveclouds 55s linear infinite;
}
.x2 {
	left: 200px;
	top:-350px;
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
	opacity: 0.6; 
	-webkit-animation: moveclouds 65s linear infinite;
	-moz-animation: moveclouds 65s linear infinite;
	-o-animation: moveclouds 65s linear infinite;
}
.x3 {
	left: -250px; top: -540px;
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
	opacity: 0.8;
	-webkit-animation: moveclouds 40s linear infinite;
	-moz-animation: moveclouds 40s linear infinite;
	-o-animation: moveclouds 40s linear infinite;
}
.x4 {
	left: 470px; top: -850px;
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
	opacity: 0.75;
	-webkit-animation: moveclouds 58s linear infinite;
	-moz-animation: moveclouds 58s linear infinite;
	-o-animation: moveclouds 58s linear infinite;
}
.x5 {
	top: -1017px;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
	opacity: 0.8;
	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
	background: url("../images/arizona-rv-homes-animated-plane-banner.gif");
        width: 414px;
        height: 183px;
}
@-webkit-keyframes moveclouds {
	0% {margin-left: 2000px;}
	100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 2000px;}
	100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 2000px;}
	100% {margin-left: -1000px;}
}