label, p, h4{
	font-family:'titilliumregular', Palatino, Georgia, serif;
}
label{
	line-height: 33px;
	letter-spacing: .1em;
	font-size: 15px;
	text-transform:uppercase;
}
p{
	font-size: 14px;
	line-height: 22px;
	text-align:justify;
}
h4{
	font-size: 19px;
	letter-spacing:.1em;
	margin: 17px 0 15px 15px;
	color: #D5B03D;
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
	border-left: solid 24px #D5B03D;
}
h6{
	font-style:italic;
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-size:12px;
	line-height: 20px;
	text-align:justify;
}

/*** .Nav Class ************************/
.nav{
	width: 980px;
	margin: 10px auto;
	overflow:hidden;
	text-align: left;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}
.nav label{
	display: block;
	position: relative;
	padding: 7px 20px;
	height: 37px;
	cursor: pointer;
	z-index: 20;
	
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,.5);
	-webkit-box-shadow: 0px 0px 0px 1px rgba(155,155,155,.5);
	-moz-box-shadow:0px 0px 0px 1px rgba(155,155,155,.5);
}
.nav label i{
	display:block;
	font-size:21px;
	padding:3px 10px 0 0;
}
.nav input:checked + label,
.nav input:checked + label:hover{
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,.3), 
		0px 2px 2px rgba(0,0,0,.1);
	-webkit-box-shadow:
		0px 0px 0px 1px rgba(155,155,155,.3), 
		0px 2px 2px rgba(0,0,0,.1);
	-moz-box-shadow:
		0px 0px 0px 1px rgba(155,155,155,.3), 
		0px 2px 2px rgba(0,0,0,.1);
		background:#A1A1A1;
}
.nav label:hover:after,
.nav input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 12px;	
}
.nav input{
	display: none;
}
/*** .content Class *********************/

.content{
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	overflow:hidden;
	
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.content p{
	padding: 2px 15px 5px 10px;
	margin-left:15px;
	border-left:20px solid;
}
.content h4{
	padding:8px 0 12px 15px;
}
.content h6{
	padding:8px 15px 10px 15px;
	margin:10px;
	
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
}
.content h6 i{
	padding:0 5px;
	font-size:50px;
	margin-right:20px;
}
.nav input:checked ~ div.content{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.6s ease-in-out, box-shadow 0.1s linear;
	
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
	-webkit-box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
	-moz-box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}

/*** For Change Animation Effects ****/
.nav label:hover{
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: .6s;
	-webkit-animation-iteration-count: 1;
}
.nav input:checked ~ .content{       
	height: 100px;
	z-index:-1;
	
	-webkit-animation-name:  fadeIn;
	-webkit-animation-duration: .9s;
	-webkit-animation-iteration-count: 1;
}

/**** Color And Background **********************/

.nav{                             
	margin:75px auto 20px;
}
.nav label{
	color:#3B4E58 !important;
}
.content{
	/*background: #636363;   */
	/*background: -moz-radial-gradient(center, ellipse cover,  #636363 0%, #606060 47%, #5c5c5c 100%); /* FF3.6+ */
	/*background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#636363), color-stop(47%,#606060), color-stop(100%,#5c5c5c)); */
	/*background: -webkit-radial-gradient(center, ellipse cover,  #636363 0%,#606060 47%,#5c5c5c 100%);  */
	/*background: -o-radial-gradient(center, ellipse cover,  #636363 0%,#606060 47%,#5c5c5c 100%); */
	/*background: -ms-radial-gradient(center, ellipse cover,  #636363 0%,#606060 47%,#5c5c5c 100%); */
	/*background: radial-gradient(ellipse at center,  #636363 0%,#606060 47%,#5c5c5c 100%); */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#636363', endColorstr='#5c5c5c',GradientType=1 );  */	

}
.label a {
	color: #333333;
}
.nav label:hover{
	background: #A1A1A1;                    /*Light Gray*/
	color:#FFFFFF;
}
.nav input:checked + label,
.nav input:checked + label:hover{
	/*background: #5F5F5F;                    /*Dark Gray*/*/
	color:#FFFFFF;
}
.content h4{
	color:#777;                          /*Main Color*/
}
.content p{
	border-left-color:#FFD700;              /*Main Color*/
	color:#FFFFFF;	
}
.content h6{
	color:#CCCCCC;
}
.content h6 i{
	color:rgba(255, 215, 0, .2);            /*Main Color*/
}

.nav label:hover:after,
.nav input:checked + label:hover:after{
	background: transparent url(../../images/arrow_down.png) no-repeat center center;
}
.nav input:checked + label:hover:after{
	background-image:url(../../images/arrow_up.png);
}