@font-face {
    font-family: 'azrvhome';
    src: url('../fonts/azrvhome.eot');
    src: url('../fonts/azrvhome.eot?#iefix') format('embedded-opentype'),
         url('../fonts/azrvhome.woff') format('woff'),
         url('../fonts/azrvhome.ttf') format('truetype'),
         url('../fonts/azrvhome.svg#azrvhome') format('svg');
    font-weight: normal;
    font-style: normal;

}
. {
	font-family: azrvhome, sans-serif;
}

@font-face {
    font-family: 'handwriting';
    src: url('../fonts/hwriting.eot');
    src: url('../fonts/hwriting.eot#iefix') format('embedded-opentype'),
         url('../fonts/hwriting.woff') format('woff'),
         url('../fonts/hwriting.ttf') format('truetype'),
         url('../fonts/hwriting.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.hwriting {
    font-family:'handwriting', Arial, sans-serif !important;
}

.header {
	background: url("../images/1.jpg") center top no-repeat;
	/*height: 648px; */
	width: 100%; 
	z-index: 0;
	margin-top: -135px;
	display: inline-block;
}

.header2 {
    background: url("../images/1b.jpg") no-repeat scroll center top;
    height: 574px;
    overflow: hidden;
    width: 100%;
    z-index: 0;
}
.arizona-rv-home-title {
	font-family: azrvhome;
	font-size: 100px;
	color: #fff;
	text-shadow:3px 3px 0 #2e74ba, -1px -1px 0 #2e74ba, 1px -1px 0 #2e74ba, -1px 1px 0 #2e74ba, 1px 1px 0 #2e74ba;
	margin:0 0 -48px 160px;
}
.sunrise-hills-title {
	font-family: azrvhome;
	color: #fff;
	height: 30px;
	width: 500px;
	text-align: center;
	margin: 112px 0 -160px 505px;
	font-size: 36px;
}

#hero-container {
	  height: 591px;
	  margin: 0 auto;
	  width: 980px;
	  z-index: -999999 !important;
}
.hero-image {
	max-width: none;
	position: absolute;
	z-index: 1; 
}
.hero-zoom-control { 
	width:600px; 
	margin:0 auto; 
}
#hero-rv { 
	background: url("../images/rv.png") center top no-repeat; 
	width: 324px; 
	height: 460px; 
	position:relative;
}
.hero-hoverable:hover #hero-rv { 
}
#hero-bg  { 
}
#hero-container.hero-anim { 
	display: block; 
}
#hero-rv { 
	left: 315px; 
	top: 38px; 
	-webkit-animation: anim-hero-rv 0s ease; animation: anim-hero-rv 0s ease; 
	-webkit-transform: scale(.58); 
	transform: scale(.58); 
	-ms-transform: scale(.58); 
	-o-transform: scale(.58); 
	-moz-transform: scale(.58);
        position:relative;
}
.hero-hoverable:hover #hero-rv {
        left: 230px; 
	top: 70px; 
	transform: scale(1.3);
	-ms-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	-o-transform: scale(1.3);
	-moz-transform: scale(1.3);
	z-index: 9999999999;
        position:relative;
}