html, body { width: 100%; height: 100%; font-family: 'Gilda Display', serif; }
html { font-size: 16px; }
body { font-size: 62.5%; }

a { text-decoration: none; }

#map { width: 100%; height: 100%; position: relative; }

.info { display: table; opacity: 0; width: 100%; height: 100%; z-index: 9999999999999999; position: absolute; -webkit-transition: all 600ms ease-in-out; -moz-transition: all 600ms ease-in-out; -ms-transition: all 600ms ease-in-out; -o-transition: all 600ms ease-in-out; transition: all 600ms ease-in-out;  }


.info_inner { width: 500px; height: 400px; display: table-cell; vertical-align: middle; }


.table { visibility: visible; opacity: 0.96; }


.none { visibility: hidden; }


.clear:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }