@charset "utf-8";
/* CSS Document */

#wrapper {
	width: 980px;
	margin: 0 auto;
	padding: 0 25px 25px 25px;
	position:relative;
}
#nav {
	list-style: none;
	margin: -37px 0 20px -20px;
	/*background: #2e2e2e url(images/nav_bar.jpg) repeat-x;*/
	display: block;
	overflow: hidden;
	font-size: 16px;
	height:33px;
	text-transform:capitalize;
}
#nav li {
	display: inline;
}
#nav li a {
	display: block;
	float: left;
	padding: 10px 20px;
	color: white;
	text-decoration: none;
}
#nav li a:hover {
	/*background: #1b1b1b url(images/nav_bar_o.jpg) repeat-x;*/
}
#load {

	position: absolute;
	left: 550px;
	top: 0px;
	background: url(images/ajax-loader.gif);
	width: 256px;
	height: 35px;
	text-indent: -9999em;
}

#content {
         width:980px;
         margin:0 auto;
}
#content img.right {
	float: right;
	margin: 0 0 8px 8px;

}