@charset "utf-8";
/* CSS Document */

#wrapper {
	margin: 0 auto;
	position:relative;
}
#nav {
	list-style: none;
	background: #2e2e2e url(images/pattern-3.jpg) repeat-x;
	display: block;
	font-size: 16px;
	height: 50px;
	text-transform: capitalize;
	padding-left: 280px;
}
#nav li {
	display: inline;
}
#nav li a {
	display: block;
	float: left;
	padding: 10px 20px;
	color: white;
	text-decoration: none;
}
#nav li a:hover {
	background: #1b1b1b url(images/nav_bar_o.jpg) repeat-x;
}
#load {
height: 35px; left: 550px; margin: 0 0 0 448px; position: absolute; text-indent: -9999em;
    top: 0; width: 260px; background: url(images/ajax-loader.gif);
}

#content {
         width:980px;
         margin:-85px auto;
}
#content img.right {
	float: right;
	margin: 0 0 8px 8px; 

}
.content-wrapper {
	background: url("images/footer-1.jpg") repeat scroll 0 0 #1A1A1A;
	width: 100%;
	height:690px;
	margin: -85px auto;
}
.section-container {
	padding:40px 0 0 20px;
	margin:0 auto;
	width:960px;
}

.section0 {
	background: url(images/pattern-1.jpg) 0 0 repeat-x;
	height: 203px;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	width:100%;
}

.section1 {
	background: url(images/pattern-1.jpg) 0 0 repeat-x;
	height: 203px;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	width:100%;
}

.section2 {
	background: url(images/pattern-2.jpg) 0 0 repeat-x;
	height: 203px;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	width:100%;
}

.section3 {
	background: url(images/pattern-3.jpg) 0 0 repeat-x;
	height: 203px;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	width:100%;
}

.section4 {
	background: url(images/pattern-3.jpg) 0 0 repeat-x;
	height: 203px;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	width:100%;
}

.section5 {
	background: url(images/pattern-1.jpg) 0 0 repeat-x;
	height: 215px;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	width:100%;
}

.section-block {
	border:1px solid #FFFFFF;
	width: 185px;
	float: left;
	margin: -25px 11px 0 0;
	color: #fff;
	padding:5px;
}
.section-picture-block {
	width: 226px;
	float: left;
	margin: -25px 11px 0 0;
	color: #fff;
	border:1px dashed #fff;
	padding:5px;
}
.section-block2 {
	width: 800px;
	float: left;
	margin: -15px 15px 0 0;
	color: #fff;
}

.section-title {
	text-transform: capitalize;
	font-size: 32px;
	line-height: 36px;
	font-family: 'handwriting', Arial, sans-serif !important;
	font-weight: 400;
	margin-bottom:5px;
	background: #65181c;
	padding:0 5px 0 5px;
}

.section-text {
	text-transform: capitalize;
	font-size: 14px;
	line-height: 16px;
	font-family: 'Open Sans', sans-serif;
	color:#333;
	height:98px;
	margin-top:-5px;
	padding:7px;
	background:none repeat scroll 0 0 #D2B48C;
	
}