@charset "utf-8";
/* CSS Document */

#wrapper {
	/* width: 980px; */
	margin: 0 auto;
	/* padding: 0 25px 25px 25px; */
	position:relative;
}
#nav {
	list-style: none;
	margin: -37px 0 20px -20px;
	background: #2e2e2e url(images/nav_bar.jpg) repeat-x;
	display: block;
	overflow: hidden;
	font-size: 16px;
	height:33px;
	text-transform:capitalize;
        padding-left:280px;
}
#nav li {
	display: inline;
}
#nav li a {
	display: block;
	float: left;
	padding: 10px 20px;
	color: white;
	text-decoration: none;
}
#nav li a:hover {
	background: #1b1b1b url(images/nav_bar_o.jpg) repeat-x;
}
#load {
height: 35px; left: 550px; margin: 0 0 0 448px; position: absolute; text-indent: -9999em;
    top: 0; width: 260px; background: url(images/ajax-loader.gif);
}

#content {
         width:980px;
         margin:-16px auto;
}
#content img.right {
	float: right;
	margin: 0 0 8px 8px;

}