@font-face {
    font-family: 'azrvhome';
    src: url('../fonts/azrvhome.eot');
    src: url('../fonts/azrvhome.eot?#iefix') format('embedded-opentype'),
         url('../fonts/azrvhome.woff') format('woff'),
         url('../fonts/azrvhome.ttf') format('truetype'),
         url('../fonts/azrvhome.svg#azrvhome') format('svg');
    font-weight: normal;
    font-style: normal;

}
. {
	font-family: azrvhome, sans-serif;
}

@font-face {
    font-family: 'handwriting';
    src: url('../fonts/hwriting.eot');
    src: url('../fonts/hwriting.eot#iefix') format('embedded-opentype'),
         url('../fonts/hwriting.woff') format('woff'),
         url('../fonts/hwriting.ttf') format('truetype'),
         url('../fonts/hwriting.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.hwriting {
    font-family: 'handwriting', Arial, sans-serif !important;
    font-size: 2em !important;
}

.header {
	background: url("../images/1.jpg") center top no-repeat;
	height: 591px; 
	position: fixed; 
	width: 100%; 
	z-index: 0;
	margin-top:-150px;
}
.arizona-rv-home-title {
	font-family: azrvhome;
	font-size: 100px;
	color: #fff;
	text-shadow:3px 3px 0 #2e74ba, -1px -1px 0 #2e74ba, 1px -1px 0 #2e74ba, -1px 1px 0 #2e74ba, 1px 1px 0 #2e74ba;
	margin:145px 0 -48px 160px;
}
.sunrise-hills-title {
	font-family: azrvhome;
	font-size: 100px;
	color: #fff;
	margin:145px 0 -48px 160px;
}
#hero-container {
  display: none;
  height: 591px;
  margin: 0 auto;
  width: 980px;
  z-index: -999999 !important;
}
.hero-image {
	max-width: none;
	position: absolute;
	z-index: 1; 
}
.hero-zoom-control { 
	width:600px; 
	margin:0 auto; 
}

#hero-rv { 
	background: url("../images/rv.png") center top no-repeat; 
	width: 324px; 
	height: 400px; 
	position:relative;
}

.hero-hoverable:hover #hero-rv { 
	-webkit-transform: translate(-20px, -20px); 
	transform: translate(-20px, -20px);
	-webkit-transition: all 200ms; 
	transition: all 200ms; 
	/*top:135px;*/
	/*left:215px;*/
}

#hero-bg  { 
	-webkit-transition: all 200ms; 
	-webkit-transform-origin: 100% 100%; 
}

#hero-container.hero-anim { 
	display: block; 
}

#hero-rv { 
	left: 265px; 
	top: 130px; 
	-webkit-animation: anim-hero-rv 0s ease; animation: anim-hero-rv 0s ease; 
	 -webkit-transition: all 200ms; 
	transition: all 200ms; 
	/*-webkit-transform: scale(.6); 
	transform: scale(.6); 
	-ms-transform: scale(.6); 
	-o-transform: scale(.6); 
	-moz-transform: scale(.6); */
}

.hero-hoverable:hover #hero-rv {
	transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-moz-transform: scale(1.2);
	z-index: 9999999999;
}

/* Animation for Webkit */
@-webkit-keyframes anim-hero-rv {
      0% { -webkit-transform: translateY(-250px); opacity: 0; }
     33% { -webkit-transform: translateY(50px);   opacity: 1; }
     67% { -webkit-transform: translateY(-10px);  }
    100% { -webkit-transform: translateY(0);      }
}

/* Animation for standards */
@keyframes anim-hero-rv {
      0% { transform: translateY(-250px); opacity: 0; }
     33% { transform: translateY(50px);   opacity: 1; }
     67% { transform: translateY(-10px);  }
    100% { transform: translateY(0);      }
}