*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal; }
ol, ul, li { }
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; font-family: Open Sans, Tahoma, Arial, sans-serif; }
q:before, q:after { content:''}

strong { font-weight:bold; }
em { font-style:italic; }
a img { border:none } /* Gets rid of IE's blue borders */

.fl { float: left; }
.fr { float: right; }
.cb { clear: both; }

.last { padding: 0 !important; margin-right: 0 !important;}

body { font-family: Open Sans, Tahoma, Arial, sans-serif; font-weight: normal; color: #333333 !important; background:#363636; }

h1 { margin-bottom: 10px; color: #ffffff; font-size: 40px;   font-weight: 700; line-height: 30px; text-transform: uppercase; }
h2 { margin-bottom: 10px; color: #474747; font-size: 30px;  font-weight: 700; line-height: 30px; text-transform: uppercase; }
h3 { margin-bottom: 10px; color: #474747; font-size: 21px; font-weight: 400; font-family: Oswald, Open Sans, Tahoma, Arial, sans-serif; }
h4 { margin: 0 0 15px 0; color: #474747; font-size: 18px; font-weight: 400; line-height: 20px; }

.centerContainer { width: 980px; margin: 0 auto; }
.leftContainer { width: 550px; float:left; margin:0 0 0 0; }
.rightContainer { width: 375px; float:right; margin:0 0 0 0; }

#headerContainer { width: 100%; height: 100%; position: fixed; background: #ffffff url('../images/bg.jpg') center top no-repeat; z-index: -9999; }
#headerContainer p { margin-bottom: 20px; color: #ffffff; font-size: 15px; font-weight: 600; line-height: 30px; font-family: Open Sans, Tahoma, Arial, sans-serif; text-shadow: 1px 1px #333333; }
.logoContainer { margin: -40px 0 -10px 0; text-align: center; }
.getStarted{ width: 550px; margin: 0 auto; text-align: center; }

#pageContainer { width: 100%; margin-top: 579px; position: absolute;  }
#pageContainer2 { z-index:99999999 !important; position:relative; width: 100%; margin: -138px auto 0; background-color: #ffffff; border-top: 4px solid #146da8; }
.oneColumn { width: 295px; margin-top: 10px; padding-right: 45px; text-align: center; float: left; font-size: 13px; font-weight: normal; font-family: Open Sans, Tahoma, Arial, sans-serif; line-height: 22px; }
.oneColumn p { padding: 0 20px; color: #7a7a7a; font-size: 13px; font-weight: normal; font-family: Open Sans, Tahoma, Arial, sans-serif; line-height: 22px; }

#bigTitle { margin-top: 40px; padding: 40px 0; background-color: #272727; text-align: center; }
#bigTitle p { padding: 10px 0 20px 0; width: 500px; margin: 0 auto; color: #ffffff; font-size: 13px; font-weight: 400;  font-family: Open Sans, Tahoma, Arial, sans-serif; }

#aboutUsContainer {  margin: 40px 0 20px 0; } 
.aboutColumnImage { width: 323px; float: left; padding: 0 20px 0 0; }
#aboutColumnText { width: 980px; display: block; float: ; }
#aboutColumnText p { color: #7a7a7a; font-size: 13px; font-weight: 400; font-family: Open Sans, Tahoma, Arial, sans-serif; line-height: 22px; }

.col { width: 210px; float: left; margin: 0 20px 20px 0; background-color: #f5f5f5; }
.name { margin-top: 10px; font-size: 16px; color: #474747; text-align: center; }
.office { font-size: 12px; color: #8d8d8d; text-align: center; font-style:italic; }
.info { margin-top: 5px; padding: 5px 15px; font-size: 13px; color: #474747; text-align: center; }

#galleryContainer { padding: 1px 0 20px 0; margin: -40px 0 0 0; background-color: #fff; }
#galleryContainer h3 { color: #ffffff; }
.images { display: inline-block; background-color: #272727; }
.image { width: 210px; height: 210px; float: left; margin: 0 20px 20px 0; background-color: #272727; }
.image a:hover { opacity: 0.4; }

#contactContainer { height: 500px; padding: 30px 0; background-color: #146da8; text-align: center; color: #ffffff; font-size: 13px; font-weight: 400; font-family: Open Sans, Tahoma, Arial, sans-serif; line-height: 20px; }
.contacts { width: 200px; padding: 0 50px; float: left; } 

.subscribeForm { width: 442px; height: 50px; display: inline-block; padding: 0 0; margin-top: 20px; background-image: url('../images/bg_subscribe.png'); text-align: center;}

.subscribeForm2 { width: 432px; height: 135px; display: inline-block; padding: 0 0; margin-top: 20px; background-image: url('../images/text-area-bg.png'); text-align: center;}

#subscribeForm2 { width: 432px; height: 135px; display: inline-block; padding: 0 0; margin-top: 20px; background-image: url('../images/text-area-bg.png'); text-align: center;}

#subscribeForm { width: 442px; height: 50px; display: inline-block; padding: 0 0; margin-top: 20px; background-image: url('../images/bg_subscribe.png'); text-align: center;}

#sub_text { width: 230px; padding: 7px; margin-top: 10px; background-color: #272727; border: 0 none; color: #999999; }

#sub_text0 { width: 230px; padding: 7px; margin-top: 10px; background-color: #1b1b1b; border: 0 none; color: #999999; }
#sub_text1 { width: 230px; padding: 7px; margin-top: 10px; background-color: #1b1b1b; border: 0 none; color: #999999; }
#sub_text2 { width: 230px; padding: 7px; margin-top: 10px; background-color: #1b1b1b; border: 0 none; color: #999999; }

.submit { width: 137px; height: 38px; text-align:center;  border: 0 none !important; background-image: url('../images/submit.png'); cursor: pointer; }
#submit { width: 137px; height: 38px; text-align:center;  border: 0 none !important; background-image: url('../images/submit.png'); cursor: pointer; }

#footer { padding: 18px 0; background-color: #272727; text-align: center; color: #d0d0d0; font-size: 12px; font-weight: 300; font-family: Open Sans, Tahoma, Arial, sans-serif; }

.simple_link { color: #ff0048; text-decoration: none; }
.background_link { background-color: #ff0048; color: #ffffff; text-decoration: none; padding: 0 5px; }

.read_more_button { padding: 6px 6px; margin: 10px 10px 10px 0; display: inline-block; color: #ffffff; text-decoration: none; background-color: #146DA8; width: 145px; height:25px;; text-align:center; font-size:18px; }
.read_more_button:hover { background-color: #272727; }

.box {
	width:306px;
	float:left;
	padding:5px 0;
}
.content-wrapper2 {
	margin: 0px auto;
}
.roundedbottom {
	display:block;
	background:transparent;
	font-size:1px;
}
.roundedboxcontent {
	display:block;
	border:0 solid #fff;
	border-width:0 1px;
	padding:5px;
}
.roundedboxcontent-transparent {
	display:block;
	background:transparent;
	border:0 solid #fff;
	border-width:0 1px;
	padding:5px;
}
.roundedtop {
	display:block;
	background:transparent;
	font-size:1px;
}
.xb1 {
	display:block;
	overflow:hidden;
	height:1px;
	margin:0 5px;
	background:#fff;
}
.xb2 {
	display:block;
	overflow:hidden;
	height:1px;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	margin:0 3px;
	border-width:0 2px;
}
.xb2-transparent {
	display:block;
	overflow:hidden;
	height:1px;
	background:transparent;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	margin:0 3px;
	border-width:0 2px;
}
.xb3 {
	display:block;
	overflow:hidden;
	height:1px;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	margin:0 2px;
}
.xb3-transparent {
	display:block;
	overflow:hidden;
	height:1px;
	background:transparent;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	margin:0 2px;
}
.xb4 {
	display:block;
	overflow:hidden;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	height:2px;
	margin:0 1px;
}
.xb4-transparent {
	display:block;
	overflow:hidden;
	background:transparent;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	height:2px;
	margin:0 1px;
}
.port_resize2 {
	background: none repeat scroll 0 0;
	/*border: 1px solid #DEDEDE;*/
	float: left;
	padding:0px 5px;
}


ul.accordion {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.accordion label + input[type='radio'] {
    display: none;
}
ul.accordion li {
    background-color: #CCCCCC;
    border-bottom: 1px solid #DDDDDD;
}
ul.accordion label {
    background-color: #666666;
    color: #FFFFFF;
    display: block;
    padding: 10px;
    /* font-size:2em; */
}
ul.accordion label:hover {
    cursor: pointer;
}
ul.accordion div.content {
    overflow: hidden;
    padding: 10px;
    display: none;
   /* font-size:1.5em; */
}
ul.accordion label + input[type='radio']:checked + div.content {
    display: block;
}

.logo_strip {
height: 160px;
padding: 0;
text-align: left;
width:920px;
}
.body-text {
font: normal 14px Arial, Helvetica, sans-serif;
color: #6d6d6d;
line-height: 1.7em;
padding: 5px 5px;
margin: 0;
text-transform: none !important;
}
.local-shopping {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	padding: 5px;
	text-align: center;
	width: 100px;
}
.smiths {
	background-image:url(../images/smiths-bw.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 10px;
	padding: 3px;
	text-align: center;
	width: 100px;
}
.smiths:hover {
	background-image:url(../images/smiths.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 10px;
	padding: 3px;
	text-align: center;
	width: 100px;
}
.safeway {
	background-image:url(../images/safeway-bw.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	padding: 3px;
	text-align: center;
	width: 100px;
}
.safeway:hover {
	background-image:url(../images/safeway.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	padding: 3px;
	text-align: center;
	width: 100px;
}
.target {
	background-image:url(../images/target-bw.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	padding: 3px;
	text-align: center;
	width: 100px;
}
.target:hover {
	background-image:url(../images/target.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	padding: 3px;
	text-align: center;
	width: 100px;
}
.home-depot {
	background-image:url(../images/home-depot-bw.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	padding: 3px;
	text-align: center;
	width: 100px;
}
.home-depot:hover {
	background-image:url(../images/home-depot.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	padding: 3px;
	text-align: center;
	width: 100px;
}
.sams-club {
	background-image:url(../images/sams-club-bw.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	padding: 3px;
	text-align: center;
	width: 100px;
}
.sams-club:hover {
	background-image:url(../images/sams-club.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	padding: 3px;
	text-align: center;
	width: 100px;
}
.walmart {
	background-image:url(../images/walmart-bw.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	padding: 3px;
	text-align: center;
	width: 100px;
}
.walmart:hover {
	background-image:url(../images/walmart.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	padding: 3px;
	text-align: center;
	width: 100px;
}
.lowes {
	background-image:url(../images/lowes-bw.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	padding: 3px;
	text-align: center;
	width: 100px;
}
.lowes:hover {
	background-image:url(../images/lowes.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	padding: 3px;
	text-align: center;
	width: 100px;
}
.kohls {
	background-image:url(../images/kohls-bw.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	padding: 3px;
	text-align: center;
	width: 100px;
}
.kohls:hover {
	background-image:url(../images/kohls.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	padding: px;
	text-align: center;
	width: 100px;
}
div#preload {
display: none;
}
.fbConnectWidgetFooter {
	display: none !important;
}