@charset "utf-8";

/* 01 ** Bounce ****************/

@-webkit-keyframes 'bounce' {
0%, 20%, 50%, 80%, 100% {
	-webkit-transform:translateY(0);
}
40% {
	-webkit-transform:translateY(-15px);
}
60% {
	-webkit-transform:translateY(-5px);
}
}

/* 02 ** tada ****************/

@-webkit-keyframes 'tada' {
0% {
	-webkit-transform:scale(1);
}
10%, 20% {
	-webkit-transform:scale(0.9) rotate(-3deg);
}
30%, 50%, 70%, 90% {
	-webkit-transform:scale(.8) rotate(3deg);
}
40%, 60%, 80% {
	-webkit-transform:scale(.8) rotate(-3deg);
}
100% {
	-webkit-transform:scale(1) rotate(0);
}
}

/* 03 ** swing ****************/

@-webkit-keyframes 'swing' {
20%, 40%, 60%, 80%, 100% {
	-webkit-transform-origin:top center;
}
20% {
	-webkit-transform:rotate(1deg);
}
40% {
	-webkit-transform:rotate(-2deg);
}
60% {
	-webkit-transform:rotate(2deg);
}
80% {
	-webkit-transform:rotate(-2deg);
}
100% {
	-webkit-transform:rotate(0deg);
}
}

/* 04 ** pulse ****************/

@-webkit-keyframes 'pulse' {
0% {
	-webkit-transform:scale(1);
}
50% {
	-webkit-transform:scale(.8);
}
100% {
	-webkit-transform:scale(1);
}
}

/* 05 ** fadeIn ****************/

@-webkit-keyframes 'fadeIn' {
0% {
	opacity:0;
	-webkit-opacity:0;
	-moz-opacity:0;
}
100% {
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1;
}
}

/* 06 ** fadeInDownBig ****************/

@-webkit-keyframes 'fadeInDownBig' {
0% {
	opacity:0;
	-webkit-opacity:0;
	-moz-opacity:0;
	
	-webkit-transform:translateY(-20px);
}
100% {
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1;
	
	-webkit-transform:translateY(0);
}
}

/* 07 ** fadeOut ****************/

@-webkit-keyframes 'fadeOut' {
0% {
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1;
}
100% {
	opacity:0;
	-webkit-opacity:0;
	-moz-opacity:0;
}
}

/* 08 ** bounceIn ****************/

@-webkit-keyframes 'bounceIn' {
0% {
	opacity:0;
	-webkit-opacity:0;
	-moz-opacity:0;
	
	-webkit-transform:scale(.3);
}
50% {
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1;
	
	-webkit-transform:scale(1.05);
}
70% {
	-webkit-transform:scale(.9);
}
100% {
	-webkit-transform:scale(1);
}
}

/* 09 ** wiggle ****************/

@-webkit-keyframes 'wiggle' {
0% {
	-webkit-transform:skewX(9deg);
}
10% {
	-webkit-transform:skewX(-8deg);
}
20% {
	-webkit-transform:skewX(7deg);
}
30% {
	-webkit-transform:skewX(-6deg);
}
40% {
	-webkit-transform:skewX(5deg);
}
50% {
	-webkit-transform:skewX(-4deg);
}
60% {
	-webkit-transform:skewX(3deg);
}
70% {
	-webkit-transform:skewX(-2deg);
}
80% {
	-webkit-transform:skewX(1deg);
}
90% {
	-webkit-transform:skewX(0deg);
}
100% {
	-webkit-transform:skewX(0deg);
}
}

/* 10 ** left ****************/

@-webkit-keyframes 'left' {
0% { 
	left: -5px;
		
	opacity:0;
	-webkit-opacity:0;
	-moz-opacity:0;
}
90%{ 
	left: 50px;
}
100% { 
	left: 0;
		
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1; 
}
}

/* 11 ** right ****************/

@-webkit-keyframes 'right' {
0% { 
	left: 50px; 
		
	opacity:0;
	-webkit-opacity:0;
	-moz-opacity:0;
}
90%{
	left: -5px;
	}
100% { 
	left: 0; 
		
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1; 
	}
}

/* 12 ** top ****************/ 

@-webkit-keyframes 'top' {
0% { 
	top: -5px; 
		
	opacity:0;
	-webkit-opacity:0;
	-moz-opacity:0;
	}
80%{
	top: 50px;
	}
100% { 
	top: 0; 
		
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1; 
	}
}
/* 13 ** bottom ****************/

@-webkit-keyframes 'bottom' {
0% { 
	top: 50px; 
		
	opacity:0;
	-webkit-opacity:0;
	-moz-opacity:0;
	}
80%{
	top: -5px;
	}
100%{ 
	top: 0; 
		
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1; 
	}
}

/* 14 ** zoomIn ****************/

@-webkit-keyframes 'zoomIn' {
0% {
	transform: scale(0.7);
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-o-transform: scale(0.7);
	-ms-transform: scale(0.7);
		
	opacity:0;
	-webkit-opacity:0;
	-moz-opacity:0;
	 }
100% { 
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
		
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1; 
	}
}

/* 15 ** zoomOut ****************/

@-webkit-keyframes 'zoomOut' {
0% { 
	transform: scale(1.1);
	-webkit-transform: scale(1.1); 
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
		
	opacity:0;
	-webkit-opacity:0;
	-moz-opacity:0;
	}
100% { 
	transform: none;
	-webkit-transform: none;
	-moz-transform: none;
	-o-transform: none;
	-ms-transform: none;
		
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1; 
	}
}

/* 16 ** sky ****************/

@-webkit-keyframes 'sky' {
0% { 
	top: -50px; 
	opacity:.2;
	-webkit-opacity:.2;
	-moz-opacity:.2;
		
	transform:scale(.1);
	-webkit-transform:scale(.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	}
90%{ 
	top:-40px;
	opacity:.7;
	-webkit-opacity:.7;
	-moz-opacity:.7;
		
	transform:scale(.7);
	-webkit-transform:scale(.7);
	-moz-transform:scale(.7);
	-ms-transform:scale(.7);
	-o-transform:scale(.7);
	}
100% { 
	top: 0; 
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1;
		
	transform:scale(1);
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	}
}

/* 17 ** dance ****************/

@-webkit-keyframes 'dance' {
0% { 
	transform: rotate(-20deg) scale(0.1);
	-webkit-transform: rotate(-20deg) scale(0.1);
	-moz-transform: rotate(-20deg) scale(0.1);
	-o-transform: rotate(-20deg) scale(0.1);
	-ms-transform: rotate(-20deg) scale(0.1);
		
	opacity:.2;
	-webkit-opacity:.2;
	-moz-opacity:.2;
	}
50%{
	transform: rotate(20deg) scale(0.5);
	-webkit-transform: rotate(20deg) scale(0.5);
	-moz-transform: rotate(20deg) scale(0.5);
	-o-transform: rotate(20deg) scale(0.5);
	-ms-transform: rotate(20deg) scale(0.5);
		 
	opacity:.7;
	-webkit-opacity:.7;
	-moz-opacity:.7; 
	 }
		 
100%{
	transform: none;
	-webkit-transform: none;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
		
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1;
	}
}
