*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal; }
ol, ul, li { }
caption, th { text-align:left; }
h1, h3, h5, h6 { font-size:100%; font-weight:normal; font-family: Open Sans, sans-serif; }
q:before, q:after { content:''}

strong { font-weight:bold; }
em { font-style:italic; }
a img { border:none } /* Gets rid of IE's blue borders */

.fl { float: left; }
.fr { float: right; }
.cb { clear: both; }

.last { padding: 0 !important; margin-right: 0 !important;}

body { font-family: 'titilliumregular', Palatino, Georgia, serif; font-weight: normal; color: #333333 !important; width:100%;}
.call-to-action1 {
color: rgb(255, 255, 255);
height: 30px;
font-weight: bold;
font-size: 32px;
text-align: center;
text-shadow: 2px 2px 0px rgb(46, 116, 186), -1px -1px 0px rgb(46, 116, 186), 1px -1px 0px rgb(46, 116, 186), -1px 1px 0px rgb(46, 116, 186), 1px 1px 0px rgb(46, 116, 186);
width: 525px;
position: relative;
margin: -22px 0 123px 211px;
}
.priced-from {
color: #fff;
height: 30px;
width: 500px;
text-align: center;
margin: -44px 0 -70px 510px;
font-size: 26px !important;
}
.the-mid {
color: #fff;
height: 30px;
width: 500px;
text-align: center;
margin: 55px 0 -70px 514px;
font-size: 27px !important;
}
.valley-view {
color: #fff;
height: 30px;
width: 500px;
text-align: center;
margin: 76px 0 -96px 511px;
font-size: 22px;
family: sans-serif !important;
}
.at {
color: #fff;
height: 30px;
width: 500px;
text-align: center;
margin: 88px 0 -124px 510px;
font-size: 22px;
family: sans-serif !important;
}
.size{
color: #fff;
height: 30px;
width: 500px;
text-align: center;
margin: 177px 0 -228px 515px;
font-size: .7em;
family: sans-serif !important;
}
.lots {
color: #fff;
height: 30px;
width: 500px;
text-align: center;
margin: 209px 0 -192px 493px;
font-size: 12px;
family: sans-serif !important;
}
.bullet-points {
font-family: Open Sans,Tahoma,Arial,sans-serif;
font-size: 12px;
color: #062746;
float: right;
height: 145px;
font-weight: bold;
letter-spacing: 0px;
margin-top: 104px;
margin-right: -67px;
width: 211px;
line-height: 18px;
text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
h1 { margin-bottom: 10px; color: #ffffff; font-size: 40px;   font-weight: 100; line-height: 30px; text-transform: uppercase; }
h2 { margin-bottom: 10px; color: #D5B03D; font-size: 62px;  font-weight: 100; line-height: 30px; font-family: 'handwriting', Arial, sans-serif !important; }
h3 { margin-bottom: 10px; color: #ccc; font-size: 21px; font-weight: 400; font-family: handwriting; }

.centerContainer { width: 980px; margin: 0 auto; }
.leftContainer { width: 550px; float:left; margin:0 0 0 0; }
.rightContainer { width: 375px; float:right; margin:0 0 0 0; }

#headerContainer { width: 100%; height: 100%; position: fixed; background: #ffffff url('../images/bg.jpg') center top no-repeat; z-index: -9999; }
#headerContainer p { margin-bottom: 20px; color: #ffffff; font-size: 15px; font-weight: 600; line-height: 30px; font-family: Open Sans, sans-serif; text-shadow: 1px 1px #333333; }
.logoContainer { margin: -40px 0 -10px 0; text-align: center; }
.getStarted{ width: 550px; margin: 0 auto; text-align: center; }

#pageContainer { width: 100%; margin-top: 579px; position: absolute;  }
#pageContainer2 { z-index:99999999 !important; position:relative; width: 100%; margin: -138px auto 0; background-color: #ffffff; border-top: 4px solid #146da8; }
.oneColumn { width: 295px; margin-top: 10px; padding-right: 45px; text-align: center; float: left; font-size: 13px; font-weight: normal; font-family: Open Sans, sans-serif; line-height: 22px; }
.oneColumn p { padding: 0 20px; color: #7a7a7a; font-size: 13px; font-weight: normal; font-family: Open Sans, sans-serif; line-height: 22px; }

#bigTitle { margin-top: 40px; padding: 40px 0; background-color: #272727; text-align: center; }
#bigTitle p { padding: 10px 0 20px 0; width: 500px; margin: 0 auto; color: #ffffff; font-size: 13px; font-weight: 400;  font-family: Open Sans, sans-serif; }

#aboutUsContainer {  margin: 40px 0 20px 0; } 
.aboutColumnImage { width: 323px; float: left; padding: 0 20px 0 0; }
#aboutColumnText { display: block; margin: 0 auto;width: 100%;font-family: 'Open Sans', sans-serif; clear:both;}
#aboutColumnText p { color: #bbb; font-size: 14px; font-weight: 400; font-family: Open Sans, sans-serif; line-height: 16px; }

.col { width: 210px; float: left; margin: 0 20px 20px 0; background-color: #f5f5f5; }
.name { margin-top: 10px; font-size: 16px; color: #474747; text-align: center; }
.office { font-size: 12px; color: #8d8d8d; text-align: center; font-style:italic; }
.info { margin-top: 5px; font-size: 13px; color: #474747; }

#galleryContainer { padding: 1px 0 20px 0; margin: -40px 0 0 0; background-color: #fff; }
#galleryContainer h3 { color: #ffffff; }
.images { display: inline-block; background-color: #272727; }
.image { width: 210px; height: 210px; float: left; margin: 0 20px 20px 0; background-color: #272727; }
.image a:hover { opacity: 0.4; }

#contactContainer { height: 500px; padding: 30px 0; background-color: #146da8; text-align: center; color: #ffffff; font-size: 13px; font-weight: 400; font-family: Open Sans, sans-serif; line-height: 20px; }
.contacts { width: 200px; padding: 0 50px; float: left; } 

.subscribeForm { width: 442px; height: 50px; display: inline-block; padding: 0 0; margin-top: 20px; background-image: url('../images/bg_subscribe.png'); text-align: center;}

.subscribeForm2 { width: 432px; height: 135px; display: inline-block; padding: 0 0; margin-top: 20px; background-image: url('../images/text-area-bg.png'); text-align: center;}

#subscribeForm2 { width: 432px; height: 135px; display: inline-block; padding: 0 0; margin-top: 20px; background-image: url('../images/text-area-bg.png'); text-align: center;}

#subscribeForm { width: 442px; height: 50px; display: inline-block; padding: 0 0; margin-top: 20px; background-image: url('../images/bg_subscribe.png'); text-align: center;}

#sub_text { width: 230px; padding: 7px; margin-top: 10px; background-color: #272727; border: 0 none; color: #999999; }

#sub_text0 { width: 230px; padding: 7px; margin-top: 10px; background-color: #1b1b1b; border: 0 none; color: #999999; }
#sub_text1 { width: 230px; padding: 7px; margin-top: 10px; background-color: #1b1b1b; border: 0 none; color: #999999; }
#sub_text2 { width: 230px; padding: 7px; margin-top: 10px; background-color: #1b1b1b; border: 0 none; color: #999999; }

.submit { width: 137px; height: 38px; text-align:center;  border: 0 none !important; background-image: url('../images/submit.png'); cursor: pointer; }
#submit { width: 137px; height: 38px; text-align:center;  border: 0 none !important; background-image: url('../images/submit.png'); cursor: pointer; }

#footer { padding: 20px 0; background:url("../images/footerbg.jpg") repeat scroll 0 0 #1A1A1B; text-align: center; color: #d0d0d0; font-size: 12px; font-weight: 300; font-family: Open Sans, sans-serif; }

.simple_link { color: #ff0048; text-decoration: none; }
.background_link { background-color: #ff0048; color: #ffffff; text-decoration: none; padding: 0 5px; }

.open-map { float: right;margin: -80px 177px;font-family: 'handwriting', Arial, sans-serif !important;font-size: 23px;cursor: pointer !important;height: 32px;width: 80px; position:relative;background: yellow; border: 2px solid #336699;text-align: center; opacity:.9;color: #336699; }

.open-map:hover { float: right;margin: -80px 177px;font-family: 'handwriting', Arial, sans-serif !important;font-size: 23px;cursor: pointer !important;height: 32px;width: 80px; position:relative;background:steelblue; border: 2px solid #336699;color:#fff; text-align: center; opacity:.9; }

.open-contact {
float: right;
margin: -80px 260px;
font-family: 'handwriting', Arial, sans-serif !important;
font-size: 24px;
cursor: pointer !important;
height: 32px;
width: 80px;
position: relative;
background: yellow;
color: #336699;
border: 2px solid #336699;
text-align: center;
opacity: .9;
}

.open-contact:hover {
float: right;
margin: -80px 260px;
font-family: 'handwriting', Arial, sans-serif !important;
font-size: 24px;
cursor: pointer !important;
height: 32px;
width: 80px;
position: relative;
background: steelblue;
color: #fff;
text-align: center;
opacity: .9;
}

a {text-decoration:none; color:navy;}

.more-info {
float: left;
font-family: 'handwriting', Arial, sans-serif !important;
font-size: 34px;
cursor: pointer !important;
height: 82px;
width: 80px;
position: relative;
background: url("../images/yellow-ribbon.png") repeat scroll 0 0;
color: #336699;
text-align: center;
opacity: .9;
margin: -31px 0 0 -12px;
line-height: 28px;
}

.contact-button {
float: left;
font-family: 'handwriting', Arial, sans-serif !important;
font-size: 34px;
cursor: pointer !important;
height: 82px;
width: 80px;
position: relative;
background: url("../images/yellow-ribbon-small.png") no-repeat scroll 0 0;
color: #336699 !important;
text-align: center;
opacity: .9;
margin: 254px 0 0 330px;
line-height: 28px;
z-index:1;
}
.contact-button:hover {
float: left;
font-family: 'handwriting', Arial, sans-serif !important;
font-size: 34px;
cursor: pointer !important;
height: 82px;
width: 80px;
position: relative;
background: url("../images/yellow-ribbon-small-over.png") no-repeat scroll 0 0;
color: #fff !important;
text-align: center;
opacity: .9;
margin: 254px 0 0 330px;
line-height: 28px;
z-index:1;
}
.map-button {
float: left;
font-family: 'handwriting', Arial, sans-serif !important;
font-size: 34px;
cursor: pointer !important;
height: 82px;
width: 80px;
position: relative;
background: url("../images/yellow-ribbon-small.png") no-repeat scroll 0 0;
color: #336699 !important;
text-align: center;
opacity: .9;
margin: 254px 0 0 0px;
line-height: 28px;
z-index:1;
}
.map-button:hover {
float: left;
font-family: 'handwriting', Arial, sans-serif !important;
font-size: 34px;
cursor: pointer !important;
height: 82px;
width: 80px;
position: relative;
background: url("../images/yellow-ribbon-small-over.png") no-repeat scroll 0 0;
color: #fff !important;
text-align: center;
opacity: .9;
margin:254px 0 0 0px;
line-height: 28px;
z-index:1;
}
.about-cont {
    background: url("../images/about-bg.jpg") no-repeat scroll center top;
    color: #FFFFFF;
    margin: -97px 0 0;
    /*padding: 15px 0 0;*/
    width: 100%;
    height:780px;
}

.transparent-steelblue{
    height: 100%;
    width: 797px;
    padding:10px 10px 10px 10px;
    margin:0 auto;	
    border-radius:10px;
    /*border:2px solid #333;*/
    color:#eee;
    font-family:'titilliumregular', Palatino, Georgia, serif;
    padding: 30px 0 0 70px;
}
.box {
	width:306px;
	float:left;
	padding:5px 0;
}
.content-wrapper2 {
	margin: 0px auto;
}
.roundedbottom {
	display:block;
	background:transparent;
	font-size:1px;
}
.roundedboxcontent {
	display:block;
	border:0 solid #fff;
	border-width:0 1px;
	padding:5px;
}
.roundedboxcontent-transparent {
	display:block;
	background:transparent;
	border:0 solid #fff;
	border-width:0 1px;
	padding:5px;
}
.roundedtop {
	display:block;
	background:transparent;
	font-size:1px;
}
.xb1 {
	display:block;
	overflow:hidden;
	height:1px;
	margin:0 5px;
	background:#fff;
}
.xb2 {
	display:block;
	overflow:hidden;
	height:1px;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	margin:0 3px;
	border-width:0 2px;
}
.xb2-transparent {
	display:block;
	overflow:hidden;
	height:1px;
	background:transparent;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	margin:0 3px;
	border-width:0 2px;
}
.xb3 {
	display:block;
	overflow:hidden;
	height:1px;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	margin:0 2px;
}
.xb3-transparent {
	display:block;
	overflow:hidden;
	height:1px;
	background:transparent;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	margin:0 2px;
}
.xb4 {
	display:block;
	overflow:hidden;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	height:2px;
	margin:0 1px;
}
.xb4-transparent {
	display:block;
	overflow:hidden;
	background:transparent;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	height:2px;
	margin:0 1px;
}
.port_resize2 {
	background: none repeat scroll 0 0;
	/*border: 1px solid #DEDEDE;*/
	float: left;
	padding:0px 5px;
}

ul.accordion {
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: handwriting;
	font-size: 38px;
}

ul.accordion label + input[type='radio'] {
    display: none;
}
ul.accordion li {
	background-color: #262626;
	border-bottom: 1px dashed #DDDDDD;
	color: #fff;
}
ul.accordion label {
    background:url("../images/footer-1.jpg");
    color: #FFFFFF;
    display: block;
    padding: 10px;
    /* font-size:2em; */
}
ul.accordion label:hover {
    cursor: pointer;
    background:url("../images/footerbg.jpg") repeat scroll 0 0 #1A1A1B;
}
ul.accordion label a.active-link {
    cursor: pointer;
    background-color:#65181c;
}
ul.accordion div.content {
	overflow: hidden;
	padding: 10px;
	display: none;
	font-size: 16px;
	font-family: sans-serif;
	background:url("../images/footerbg.jpg") repeat scroll 0 0 #1A1A1B;
}
ul.accordion label + input[type='radio']:checked + div.content {
    display: block;
}

ul.accordion2 {
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: handwriting;
	font-size: 38px;
}

ul.accordion2 label + input[type='radio'] {
    display: none;
}
ul.accordion2 li {
	background-color: #262626;
	border-bottom: 1px dashed #DDDDDD;
	color: #fff;
}
ul.accordion2 label {
    background-color: #555;
    color: #FFFFFF;
    display: block;
    padding: 10px;
    /* font-size:2em; */
}
ul.accordion2 label:hover {
    cursor: pointer;
    background-color:#65181c;
}
ul.accordion2 label a.active-link {
    cursor: pointer;
    background-color:#65181c;
}
ul.accordion2 div.content2 {
	overflow: hidden;
	padding: 10px;
	display: none;
	font-size: 16px;
	font-family: sans-serif;
}
ul.accordion2 label + input[type='radio']:checked + div.content2 {
    display: block;
}

.logo_strip {
height: 160px;
padding: 0;
text-align: left;
width:920px;
}
.body-text {
font: normal 14px Arial, Helvetica, sans-serif;
color: #6d6d6d;
line-height: 1.7em;
padding: 5px 5px;
margin: 0;
text-transform: none !important;
}
.local-shopping {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	padding: 5px;
	text-align: center;
	width: 100px;
}
.smiths {
	background-image:url(../images/smiths-bw.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 10px;
	padding: 3px;
	text-align: center;
	width: 100px;
}
.smiths:hover {
	background-image:url(../images/smiths.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 10px;
	padding: 3px;
	text-align: center;
	width: 100px;
}
.safeway {
	background-image:url(../images/safeway-bw.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	padding: 3px;
	text-align: center;
	width: 100px;
}
.safeway:hover {
	background-image:url(../images/safeway.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	padding: 3px;
	text-align: center;
	width: 100px;
}
.target {
	background-image:url(../images/target-bw.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	padding: 3px;
	text-align: center;
	width: 100px;
}
.target:hover {
	background-image:url(../images/target.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	padding: 3px;
	text-align: center;
	width: 100px;
}
.home-depot {
	background-image:url(../images/home-depot-bw.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	padding: 3px;
	text-align: center;
	width: 100px;
}
.home-depot:hover {
	background-image:url(../images/home-depot.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	padding: 3px;
	text-align: center;
	width: 100px;
}
.sams-club {
	background-image:url(../images/sams-club-bw.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	padding: 3px;
	text-align: center;
	width: 100px;
}
.sams-club:hover {
	background-image:url(../images/sams-club.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	padding: 3px;
	text-align: center;
	width: 100px;
}
.walmart {
	background-image:url(../images/walmart-bw.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	padding: 3px;
	text-align: center;
	width: 100px;
}
.walmart:hover {
	background-image:url(../images/walmart.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	padding: 3px;
	text-align: center;
	width: 100px;
}
.lowes {
	background-image:url(../images/lowes-bw.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	padding: 3px;
	text-align: center;
	width: 100px;
}
.lowes:hover {
	background-image:url(../images/lowes.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	padding: 3px;
	text-align: center;
	width: 100px;
}
.kohls {
	background-image:url(../images/kohls-bw.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	padding: 3px;
	text-align: center;
	width: 100px;
}
.kohls:hover {
	background-image:url(../images/kohls.jpg);
	background-repeat:no-repeat;
	background-position:center;
	border: 1px solid #DEDEDE;
	float: left;
	height: 100px;
	margin: 0 5px 5px 0;
	padding: px;
	text-align: center;
	width: 100px;
}
div#preload {
display: none;
}
.fbConnectWidgetFooter {
	display: none !important;
}
#map {
	display:none;
	width:100%;
	height:100%;
}
#map div {
	background-color:#fff;
}
.close-contact {
        margin:-316px 0 0 202px;
        position:absolute;
}
#facebox {
    display:none;

}
.facebox2 {
    width:200px;
    border:10px solid #666;
    border:10px solid rgba(82, 82, 82, 0.698);
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
   background:url(../images/blue-trans-bg.png);
   padding:10px;
   color:#fff; 
}
.facebox2 h2 {
    color:#fff;
    background:url(../images/blue-trans-bg.png);
    padding:5px 10px;
    border:1px solid #3B5998;
    font-size:48px;
    text-transform:capitalize;
}
#facebox div {
    background-color:#fff;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif
}

#facebox h2 {
    margin:-11px;
    margin-bottom:0px;
    color:#fff;
    background-color:#6D84B4;
    padding:5px 10px;
    border:1px solid #3B5998;
    font-size:20px;
}
#loading, #success{display: none}

.now-selling {
	width: 329px;
	background: url(../images/now-selling-red.png) no-repeat scroll 0 0 #1A1A1B; 
	height: 62px; 
	float: right;   
	margin: -54px 0px 0 0;
	text-align: center;
}
.now-selling:hover {
	width: 329px;
	background: url(../images/now-selling.png) no-repeat scroll 0 0 #1A1A1B; 
	height: 62px; 
	float: right;   
	margin: -54px 0px 0 0;
	text-align: center;
}
#map_canvas {
	float: left;
	width: 980px;
	height: 545px;
}
#listing {
	float: left;
	margin-left: 1px;
	width: 184px;
	height: 545px;
	overflow: hidden;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	border:1px solid #F90;
}
#controls {
	padding: 5px;
	background-color:#777;
	font-weight:bold;
	color:#fff;
}
.placeIcon {
	width: 16px;
	height: 16px;
	margin: 2px;
}
#results {
	border-collapse: collapse;
	width: 184px;
}
#locationField {
	margin-left: 1px;
}

.local-map-wrapper {
	margin:0 auto;
	padding:0 0 0 10px;
}
.recommended-places {
margin: 20px;
	
}

/* TABS */
.hiddenTarget {display:none; position:fixed;}
.tabbedPages {position:relative; margin:50px 0;}
ul.tabs {padding:0; margin:0; list-style:none; float:left; position:relative; z-index:100;}
ul.tabs li {float:left; margin-right:2px;}

ul.tabs li a {display:block; font:normal 12px inherit; border:1px solid #aaa; border-radius:5px 5px 0 0; background:#69c; 
padding:10px; 
text-decoration:none; 
color:#fff;
background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, rgba(255, 255, 255, 0.7)), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, transparent), to(rgba(255, 255, 255, 0.3)));
background-image:-moz-linear-gradient(top, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.2) 50%, transparent 50%, rgba(255, 255, 255, 0.3) 100%);
background-image:-ms-linear-gradient(top, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.2) 50%, transparent 50%, rgba(255, 255, 255, 0.3) 100%);
background-image:-o-linear-gradient(top, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.2) 50%, transparent 50%, rgba(255, 255, 255, 0.3) 100%);
background-image:linear-gradient(top, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.2) 50%, transparent 50%, rgba(255, 255, 255, 0.3) 100%);
}

.tabcontent {float:left; width:97%; padding:20px; border:1px solid #aaa; border-radius:0 5px 5px 5px; background:#fff; position:relative; z-index:10; display:none; clear:left; top:-1px; box-shadow:0 15px 10px -15px rgba(0,0,0,0.4);
}
.tabcontent p {padding:0 0 5px 0; margin:0; font-size:16px; color:#333; line-height:18px !important;}
.tabcontent h4 {padding:0 0 10px 0; margin:0; font:bold 14px inherit; color:#000;}
.tabcontent img {box-shadow:0 15px 10px -15px rgba(0,0,0,0.4);}

ul.tabs li a.default,
#tab1:target ~ .tabbedPages .tabs li a.default,
#tab2:target ~ .tabbedPages .tabs li a.tab2,
#tab3:target ~ .tabbedPages .tabs li a.tab3,
#tab4:target ~ .tabbedPages .tabs li a.tab4,
#tab5:target ~ .tabbedPages .tabs li a.tab5,
#tab6:target ~ .tabbedPages .tabs li a.tab6,
#tab7:target ~ .tabbedPages .tabs li a.tab7,
#tab8:target ~ .tabbedPages .tabs li a.tab8,
#tab9:target ~ .tabbedPages .tabs li a.tab9 {background-color:#fff; border-bottom:1px solid 

#fff; color:#000;}

div.default,
#tab1:target ~ .tabbedPages div.default,
#tab2:target ~ .tabbedPages div#view2,
#tab3:target ~ .tabbedPages div#view3,
#tab4:target ~ .tabbedPages div#view4,
#tab5:target ~ .tabbedPages div#view5,
#tab6:target ~ .tabbedPages div#view6,
#tab7:target ~ .tabbedPages div#view7,
#tab8:target ~ .tabbedPages div#view8,
#tab9:target ~ .tabbedPages div#view9 {display:block;}

#tab2:target ~ .tabbedPages .tabs li a.default,
#tab3:target ~ .tabbedPages .tabs li a.default,
#tab4:target ~ .tabbedPages .tabs li a.default,
#tab5:target ~ .tabbedPages .tabs li a.default,
#tab6:target ~ .tabbedPages .tabs li a.default,
#tab7:target ~ .tabbedPages .tabs li a.default,
#tab8:target ~ .tabbedPages .tabs li a.default,
#tab9:target ~ .tabbedPages .tabs li a.default {background-color:#69c; border:1px solid #888; 

color:#fff;}

#tab2:target ~ .tabbedPages div.default,
#tab3:target ~ .tabbedPages div.default,
#tab4:target ~ .tabbedPages div.default,
#tab5:target ~ .tabbedPages div.default,
#tab6:target ~ .tabbedPages div.default,
#tab7:target ~ .tabbedPages div.default,
#tab8:target ~ .tabbedPages div.default,
#tab9:target ~ .tabbedPages div.default {display:none;}

.clear {clear:left;}

/* END TABS */